<launch>

	<!-- not working  -->
    <!-- <rosparam param = "turtlesim/background_b" >100</rosparam>  -->
    <!-- <rosparam>
        turtlesim/background_g : 100
        turtlesim/background_r : 100
    </rosparam> -->



	<!-- <rosparam command = "load" file = "/home/mbulucay/Desktop/ros/udemy_course/ros_ws/src/param_basic/config/bgcolor_f.yaml" /> -->

	<!-- working -->

<!-- Argumnet objesi olarak alabilirisn -->
	<arg name = "varb" default = "255" />
	<arg name = "varg" default = "255" />
	<arg name = "varr" default = "255" />


<!-- Dosaya degiskeni olarak kullaniyorsun -->
	<!-- <arg name = "varb" value = "255" />
	<arg name = "varg" value = "255" />
	<arg name = "varr" value = "255" /> -->

	<param name="turtlesim/background_b" value="$(arg varb)" />
	<param name="turtlesim/background_g" value="$(arg varg)" />
	<param name="turtlesim/background_r" value="$(arg varr)" />
	

	<node pkg="turtlesim" type="turtlesim_node" name="turtlesim" />

</launch>
