<launch>
	<!-- not working  -->
    <!-- <rosparam param = "turtlesim/background_b" >100</rosparam>  -->
    <!-- <rosparam>
        turtlesim/background_g : 100
        turtlesim/background_r : 100
    </rosparam> -->

	<rosparam command = "load" file = "/home/mbulucay/Desktop/ros/udemy_course/ros_ws/src/param_basic/config/bgcolor_f.yaml" />

	<!-- working -->
	<!-- <param name="turtlesim/background_b" value="100" />
	<param name="turtlesim/background_g" value="100" />
	<param name="turtlesim/background_r" value="100" /> -->
	

	<node pkg="turtlesim" type="turtlesim_node" name="turtlesim" />

</launch>
